---
title: Team
description: We've built an amazing team of developers, marketers, designers and business students to bring MISA to life.
---
<!-- This file allows us to customize the layout of the team page -->
<!-- hero image section -->
<section class="hero" style="background-image: url({{ site.baseurl }}/images/background/aboutus.webp)">
    <div class="inner-hero text-container">
        <div class="hero-text-container">
            
            <div style="background: #7F5B53;border: 1px solid #7F5B53;margin: 3%;">
                <h1 class="editable module" style="font-size: 5.8em; color: white;">
                    Team
                </h1>
            </div>
            <p class="subtext editable module" style="font-size: 0.8em; margin: 3%;">
                <br> We've built an amazing team of passionate individuals, developers and designers to bring this project to life.<br><br><br>
            </p> 
        </div>
    </div>
    <div class="learn-more">
        <a href="#view-team" class="button hvr-float">
            View Team
            <span class="arrow">
                ▼
            </span>
        </a>

    </div>
    </div>
</section>

<!-- team section -->
<section class="pad" id="view-team">
    {% for person in site.team %}
        {% if person.persons == "one" %}
            <div>
                <ul class="staff">
                    <li div data-aos="fade-up">
                        <a data-featherlight="#{{ person.lightbox }}" href="">
                            <div class="square-image button hvr-float" style="background-image: url({{ site.baseurl }}/images/Team/{{ person.image }})">
                            </div>
                        </a>
                        <div class="name">
                            <a data-featherlight="#{{ person.lightbox }}" href="">
                                {{ person.name }}
                            </a>
                        </div>
                        <div class="position">
                            {{ person.title }}
                        </div>
                        <div class="rounded-social-buttons">
                            {% if person.linkedin %}<a class="social-button linkedin" href="{{ person.linkedin }}" target="_blank" rel="noopener noreferrer"></a> {% endif %}
                            {% if person.email %}<a class="social-button email" href="mailto:{{ person.email }}?Subject=ICC%20Inquiry%20-From Website" target="_blank" rel="noopener noreferrer"></a> {% endif %}
                            {% if person.instagram %}<a class="social-button instagram" href="https://www.instagram.com/{{ person.instagram }}/" target="_blank" rel="noopener noreferrer"></a>{% endif %}
                            {% if person.github %}<a class="social-button github" href="https://github.com/{{ person.github }}" target="_blank" rel="noopener noreferrer"></a>{% endif %}
                        </div>
                    </li>
                </ul>
            </div>
            <hr width="50%"></hr>

        {% elsif person.persons == "two" %}
            <div>   
                <ul class="staff">
                    <li div data-aos="fade-up">
                        <a data-featherlight="#{{ person.lightbox }}" href="">
                            <div class="square-image button hvr-float" style="background-image: url({{ site.baseurl }}/images/Team/{{ person.image }})">
                            </div>
                        </a>
                        <div class="name">
                            <a data-featherlight="#{{ person.lightbox }}" href="">
                                {{ person.name }}
                            </a>
                        </div>
                        <div class="position">
                            {{ person.title }}
                        </div>
                        <div class="rounded-social-buttons">
                            {% if person.linkedin %}<a class="social-button linkedin" href="{{ person.linkedin }}" target="_blank" rel="noopener noreferrer"></a> {% endif %}
                            {% if person.email %}<a class="social-button email" href="mailto:{{ person.email }}?Subject=ICC%20Inquiry%20-From Website" target="_blank" rel="noopener noreferrer"></a> {% endif %}
                            {% if person.instagram %}<a class="social-button instagram" href="https://www.instagram.com/{{ person.instagram }}/" target="_blank" rel="noopener noreferrer"></a>{% endif %}
                            {% if person.github %}<a class="social-button github" href="https://github.com/{{ person.github }}" target="_blank" rel="noopener noreferrer"></a>{% endif %}
                        </div>
                    </li>

                    <li div data-aos="fade-up">
                        <a data-featherlight="#{{ person.lightbox2 }}" href="">
                            <div class="square-image button hvr-float" style="background-image: url({{ site.baseurl }}/images/Team/{{ person.image2}})">
                            </div>
                        </a>
                        <div class="name">
                            <a data-featherlight="#{{ person.lightbox2 }}" href="">
                                {{ person.name2 }}
                            </a>
                        </div>
                        <div class="position">
                            {{ person.title2 }}
                        </div>
                        <div class="rounded-social-buttons">
                            {% if person.linkedin2 %}<a class="social-button linkedin" href="{{ person.linkedin2 }}" target="_blank" rel="noopener noreferrer"></a> {% endif %}
                            {% if person.email2 %}<a class="social-button email" href="mailto:{{ person.email2 }}?Subject=ICC%20Inquiry%20-From Website" target="_blank" rel="noopener noreferrer"></a> {% endif %}
                            {% if person.instagram2 %}<a class="social-button instagram" href="https://www.instagram.com/{{ person.instagram2 }}/" target="_blank" rel="noopener noreferrer"></a>{% endif %}
                            {% if person.github2 %}<a class="social-button github" href="https://github.com/{{ person.github2 }}" target="_blank" rel="noopener noreferrer"></a>{% endif %}
                        </div>
                    </li>
                </ul>
            </div>
            <hr width="50%"></hr>

        {% elsif person.persons == "three" %}
            <div>   
                <ul class="staff">
                    <li div data-aos="fade-up">
                        <a data-featherlight="#{{ person.lightbox }}" href="">
                            <div class="square-image button hvr-float" style="background-image: url({{ site.baseurl }}/images/Team/{{ person.image }})">
                            </div>
                        </a>
                        <div class="name">
                            <a data-featherlight="#{{ person.lightbox }}" href="">
                                {{ person.name }}
                            </a>
                        </div>
                        <div class="position">
                            {{ person.title }}
                        </div>
                        <div class="rounded-social-buttons">
                            {% if person.linkedin %}<a class="social-button linkedin" href="{{ person.linkedin }}" target="_blank" rel="noopener noreferrer"></a> {% endif %}
                            {% if person.email %}<a class="social-button email" href="mailto:{{ person.email }}?Subject=ICC%20Inquiry%20-From Website" target="_blank" rel="noopener noreferrer"></a> {% endif %}
                            {% if person.instagram %}<a class="social-button instagram" href="https://www.instagram.com/{{ person.instagram }}/" target="_blank" rel="noopener noreferrer"></a>{% endif %}
                            {% if person.github %}<a class="social-button github" href="https://github.com/{{ person.github }}" target="_blank" rel="noopener noreferrer"></a>{% endif %}
                        </div>
                    </li>

                    <li div data-aos="fade-up">
                        <a data-featherlight="#{{ person.lightbox2 }}" href="">
                            <div class="square-image button hvr-float" style="background-image: url({{ site.baseurl }}/images/Team/{{ person.image2}})">
                            </div>
                        </a>
                        <div class="name">
                            <a data-featherlight="#{{ person.lightbox2 }}" href="">
                                {{ person.name2 }}
                            </a>
                        </div>
                        <div class="position">
                            {{ person.title2 }}
                        </div>
                        <div class="rounded-social-buttons">
                            {% if person.linkedin2 %}<a class="social-button linkedin" href="{{ person.linkedin2 }}" target="_blank" rel="noopener noreferrer"></a> {% endif %}
                            {% if person.email2 %}<a class="social-button email" href="mailto:{{ person.email2 }}?Subject=ICC%20Inquiry%20-From Website" target="_blank" rel="noopener noreferrer"></a> {% endif %}
                            {% if person.instagram2 %}<a class="social-button instagram" href="https://www.instagram.com/{{ person.instagram2 }}/" target="_blank" rel="noopener noreferrer"></a>{% endif %}
                            {% if person.github2 %}<a class="social-button github" href="https://github.com/{{ person.github2 }}" target="_blank" rel="noopener noreferrer"></a>{% endif %}
                        </div>
                    </li>

                    <li div data-aos="fade-up">
                        <a data-featherlight="#{{ person.lightbox3 }}" href="">
                            <div class="square-image button hvr-float" style="background-image: url({{ site.baseurl }}/images/Team/{{ person.image3 }})">
                            </div>
                        </a>
                        <div class="name">
                            <a data-featherlight="#{{ person.lightbox3 }}" href="">
                                {{ person.name3 }}
                            </a>
                        </div>
                        <div class="position">
                            {{ person.title3 }}
                        </div>
                        <div class="rounded-social-buttons">
                            {% if person.linkedin3 %}<a class="social-button linkedin" href="{{ person.linkedin3 }}" target="_blank" rel="noopener noreferrer"></a> {% endif %}
                            {% if person.email3 %}<a class="social-button email" href="mailto:{{ person.email3 }}?Subject=ICC%20Inquiry%20-From Website" target="_blank" rel="noopener noreferrer"></a> {% endif %}
                            {% if person.instagram3 %}<a class="social-button instagram" href="https://www.instagram.com/{{ person.instagram3 }}/" target="_blank" rel="noopener noreferrer"></a>{% endif %}
                            {% if person.github3 %}<a class="social-button github" href="https://github.com/{{ person.github3 }}" target="_blank" rel="noopener noreferrer"></a>{% endif %}
                        </div>
                    </li>
                </ul>
            </div>
            <hr width="50%"></hr>
        {% endif %}
    {% endfor %}
</section>

    <!-- Our Journey -->
    <!-- <section class="info-2"> -->
    <section>
        <div class="container flex">
            <div class="text">
                <h2 data-aos="fade-up" class="editable">
                    Our Journey
                </h2>
                <p  data-aos="fade-up" class="editable">
                    <h3>
                        A postmortem of our development experience:
                    </h3>
                </p>
                <p  data-aos="fade-up" class="editable">
                    Overall, the development process went quite well especially considering we all had busy schedules, other commitments, and were all learning something brand new for this project. In terms of teamwork and communication, we performed quite well. We all attended meetings and offered input and ideas, and everyone was open to hearing feedback and constructive criticism about their work. I believe everyone tried their best to provide high-quality code, to get their tasks done on time, and to make changes to their work based on feedback from the previous iteration. 
                </p>
                <p  data-aos="fade-up" class="editable">
                    Despite that, there were still some issues during the development process. Occasionally, poor planning and time management forced us to release without functionality that we planned for that iteration. We also forgot quite often to create dev tasks before starting the work, and didn’t keep an accurate account of the amount of time spent on each task. This then affected our ability to calculate the project velocity accurately, which could’ve helped us better plan our future iterations.
                </p>
                <p  data-aos="fade-up" class="editable">
                    Given the chance to start over, we would be more cautious and aware of how we’re setting up our classes. Many of our classes (especially logic) ended up having issues with tight coupling and SOLID violations, which then required lots of extra time to correct. If we were to start over, we would make sure to take more time planning how our classes should function and how they should interact with other components. I also believe if we started over, our presentation layer could be better designed. Given what we know now, we could focus more on creating reusable components in order to reduce the number of classes that are doing very similar tasks.
                </p>
                <p  data-aos="fade-up" class="editable">
                    There are also a few outstanding bugs that we would have liked to have fixed before the final release, but either didn’t have time to fix them, or didn’t notice them until after the final deadline. One bug occurs when a user edits a journal entry, and attempts to replace the contents with an empty string. They will get an error message stating that the contents cannot be empty, but when closing that dialog the contents still show up as empty rather than updating the entry to show the original contents again (if they click on this entry in the list of entries, the original contents will show up again). Another bug occurs when searching, if the user searches for a song that was part of one of the sample entries in our database, a lowercase version and an uppercase version will show up in the search results, which would be confusing to the user.
                </p>
                <p  data-aos="fade-up" class="editable">
                    In terms of project size, we have a total of 49 classes and 17 test classes. Our presentation layer contains the highest number of classes, with 8 controller classes, 4 panel classes, and 10 view classes, for a total of 22 classes. Our logic layer contains 5 interfaces and 9 classes, and the persistence layer contains 10 classes and 3 interfaces. For hours spent, we have a total of 251 tracked hours across iterations 1 through 3, but as noted above, our hours tracked were not completely accurate.
                </p>
            </div>
        </div>
    </section>

// LIGHTBOXES


{% for person in site.team %}
        {% if person.persons == "one" %}

            <div class="lightbox" id="{{ person.lightbox }}">
                <img class="lightbox-image" src="{{ site.baseurl }}/images/Team/{{ person.image }}">
                    <h2>
                        {{ person.name }}
                    </h2>
                    <h3>
                        {{ person.title }}
                    </h3>
                    <p>
                        {{ person.bio }}
                    </p>
                    <div class="rounded-social-buttons">
                        {% if person.linkedin %}<a class="social-button linkedin" href="{{ person.linkedin }}" target="_blank" rel="noopener noreferrer"></a> {% endif %}
                        {% if person.email %}<a class="social-button email" href="mailto:{{ person.email }}?Subject=ICC%20Inquiry%20-From Website" target="_blank" rel="noopener noreferrer"></a> {% endif %}
                        {% if person.instagram %}<a class="social-button instagram" href="https://www.instagram.com/{{ person.instagram }}/" target="_blank" rel="noopener noreferrer"></a>{% endif %}
                        {% if person.github %}<a class="social-button github" href="https://github.com/{{ person.github }}" target="_blank" rel="noopener noreferrer"></a>{% endif %}
                    </div>
                </img>
            </div>

        {% elsif person.persons == "two" %}
            
            <div class="lightbox" id="{{ person.lightbox }}">
                <img class="lightbox-image" src="{{ site.baseurl }}/images/Team/{{ person.image }}">
                    <h2>
                        {{ person.name }}
                    </h2>
                    <h3>
                        {{ person.title }}
                    </h3>
                    <p>
                        {{ person.bio }}
                    </p>
                    <div class="rounded-social-buttons">
                        {% if person.linkedin %}<a class="social-button linkedin" href="{{ person.linkedin }}" target="_blank" rel="noopener noreferrer"></a> {% endif %}
                        {% if person.email %}<a class="social-button email" href="mailto:{{ person.email }}?Subject=ICC%20Inquiry%20-From Website" target="_blank" rel="noopener noreferrer"></a> {% endif %}
                        {% if person.instagram %}<a class="social-button instagram" href="https://www.instagram.com/{{ person.instagram }}/" target="_blank" rel="noopener noreferrer"></a>{% endif %}
                        {% if person.github %}<a class="social-button github" href="https://github.com/{{ person.github }}" target="_blank" rel="noopener noreferrer"></a>{% endif %}
                    </div>
                </img>
            </div>
            <div class="lightbox" id="{{ person.lightbox2 }}">
                <img class="lightbox-image" src="{{ site.baseurl }}/images/Team/{{ person.image2 }}">
                    <h2>
                        {{ person.name2 }}
                    </h2>
                    <h3>
                        {{ person.title2 }}
                    </h3>
                    <p>
                        {{ person.bio2 }}
                    </p>
                    <div class="rounded-social-buttons">
                        {% if person.linkedin2 %}<a class="social-button linkedin" href="{{ person.linkedin2 }}" target="_blank" rel="noopener noreferrer"></a> {% endif %}
                        {% if person.email2 %}<a class="social-button email" href="mailto:{{ person.email2 }}?Subject=ICC%20Inquiry%20-From Website" target="_blank" rel="noopener noreferrer"></a> {% endif %}
                        {% if person.instagram2 %}<a class="social-button instagram" href="https://www.instagram.com/{{ person.instagram2 }}/" target="_blank" rel="noopener noreferrer"></a>{% endif %}
                        {% if person.github2 %}<a class="social-button github" href="https://github.com/{{ person.github2 }}" target="_blank" rel="noopener noreferrer"></a>{% endif %}
                    </div>
                </img>
            </div>

        {% elsif person.persons == "three" %}
            <div class="lightbox" id="{{ person.lightbox }}">
                <img class="lightbox-image" src="{{ site.baseurl }}/images/Team/{{ person.image }}">
                    <h2>
                        {{ person.name }}
                    </h2>
                    <h3>
                        {{ person.title }}
                    </h3>
                    <p>
                        {{ person.bio }}
                    </p>
                    <div class="rounded-social-buttons">
                        {% if person.linkedin %}<a class="social-button linkedin" href="{{ person.linkedin }}" target="_blank" rel="noopener noreferrer"></a> {% endif %}
                        {% if person.email %}<a class="social-button email" href="mailto:{{ person.email }}?Subject=ICC%20Inquiry%20-From Website" target="_blank" rel="noopener noreferrer"></a> {% endif %}
                        {% if person.instagram %}<a class="social-button instagram" href="https://www.instagram.com/{{ person.instagram }}/" target="_blank" rel="noopener noreferrer"></a>{% endif %}
                        {% if person.github %}<a class="social-button github" href="https://github.com/{{ person.github }}" target="_blank" rel="noopener noreferrer"></a>{% endif %}
                    </div>
                </img>
            </div>

            <div class="lightbox" id="{{ person.lightbox2 }}">
                <img class="lightbox-image" src="{{ site.baseurl }}/images/Team/{{ person.image2 }}">
                    <h2>
                        {{ person.name2 }}
                    </h2>
                    <h3>
                        {{ person.title2 }}
                    </h3>
                    <p>
                        {{ person.bio2 }}
                    </p>
                    <div class="rounded-social-buttons">
                        {% if person.linkedin2 %}<a class="social-button linkedin" href="{{ person.linkedin2 }}" target="_blank" rel="noopener noreferrer"></a> {% endif %}
                        {% if person.email2 %}<a class="social-button email" href="mailto:{{ person.email2 }}?Subject=ICC%20Inquiry%20-From Website" target="_blank" rel="noopener noreferrer"></a> {% endif %}
                        {% if person.instagram2 %}<a class="social-button instagram" href="https://www.instagram.com/{{ person.instagram2 }}/" target="_blank" rel="noopener noreferrer"></a>{% endif %}
                        {% if person.github2 %}<a class="social-button github" href="https://github.com/{{ person.github2 }}" target="_blank" rel="noopener noreferrer"></a>{% endif %}
                    </div>
                </img>
            </div>
            <div class="lightbox" id="{{ person.lightbox3 }}">
                <img class="lightbox-image" src="{{ site.baseurl }}/images/Team/{{ person.image3 }}">
                    <h2>
                        {{ person.name3 }}
                    </h2>
                    <h3>
                        {{ person.title3 }}
                    </h3>
                    <p>
                        {{ person.bio3 }}
                    </p>
                    <div class="rounded-social-buttons">
                        {% if person.linkedin3 %}<a class="social-button linkedin" href="{{ person.linkedin3 }}" target="_blank" rel="noopener noreferrer"></a> {% endif %}
                        {% if person.email3 %}<a class="social-button email" href="mailto:{{ person.email3 }}?Subject=ICC%20Inquiry%20-From Website" target="_blank" rel="noopener noreferrer"></a> {% endif %}
                        {% if person.instagram3 %}<a class="social-button instagram" href="https://www.instagram.com/{{ person.instagram3 }}/" target="_blank" rel="noopener noreferrer"></a>{% endif %}
                        {% if person.github3 %}<a class="social-button github" href="https://github.com/{{ person.github3 }}" target="_blank" rel="noopener noreferrer"></a>{% endif %}
                    </div>
                </img>
            </div>
        {% endif %}
    {% endfor %}